

<h4 class="input-head1">Simple Input</h4>
<div class="simple-inputs">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Type text...">
</div><br>

<h4 class="input-head1">Email Input</h4>
<div class="simple-inputs">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field-email" type="text" (ngModelChange)="EmailValidate($event)"
    [(ngModel)]="selectedNode" placeholder="Enter Email ID" [pattern]="EmailPattern">
     <div class="valid-msg" *ngIf="emailValidation">{{EmailMsg}}</div>
</div><br>

<h4 class="input-head1">Phone Input</h4>
<div class="simple-inputs">
    <div class="country-dropdown-adjust">
        <mat-select panelClass="comp-panel-country" (selectionChange)="getCountry($event.value)">
            <mat-option class="text-justify" *ngFor="let comp of countries"
                [value]="comp"><img src={{comp.country}} width="40" height="30">  {{comp.countryCode}}</mat-option>
        </mat-select>
    </div>
    <input [disabled]="fieldDisable" class="input-field-phone" type="text" (ngModelChange)="countriesPhoneValidation($event)"
    [(ngModel)]="selectedNode1" placeholder="Enter Phone Number" [pattern]="PhonePatternValid">
    <label class="note-adjust">(Please select country first and then enter phone number)</label>
    <div class="valid-msg1" *ngIf="phoneValidation">{{PhoneMsg}}</div><br>
</div>
