
<h4 class="buttons-head">Simple Buttons</h4>
<div class="simple-btns">
  <button class="button-success pure-button">Success</button>
  <button class="button-error pure-button">Error</button>
  <button class="button-warning pure-button">Warning</button>
  <button class="button-primary pure-button">Primary</button>
</div><br>

<h4 class="buttons-head1">Hover Effect Buttons</h4>
<div class="hover-btns">
    <button class="side-arrow">Hover me!</button>
    <button class="btn third">HOVER ME</button>
    <a href="#" class="btn-flip" data-back="Back" data-front="Front"></a>
    <button class="slide_from_right">HOVER ME</button>
    
</div><br>

<h4 class="buttons-head2">Social Media Buttons</h4>
<div class="social-media-btns">
  
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-pinterest"></a>
<a href="#" class="fa fa-snapchat-ghost"></a>
<a href="#" class="fa fa-skype"></a>
<a href="#" class="fa fa-android"></a>
</div><br>

<h4 class="buttons-head">Button Groups</h4>
<div class="pure-button-group" role="group" aria-label="...">
  <button class="pure-button grp1">Group A</button>
  <button class="pure-button grp2">Group B</button>
  <button class="pure-button grp3 pure-button-active">Group C</button>
</div>





